body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(9, 152, 57);
    font-family: sans-serif;
}
.title{
    text-align: center;
   margin-bottom: auto;
   border: 2px solid white;
   margin-top: 30px;
   background-color: rgb(26, 47, 105, .9);
   border-radius: 10px;
   color: aliceblue;

}
.container{
    width:80%;
    margin: 50px auto;
    min-height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}
.container > img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 20px;

}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;

}

.box{
    position: absolute;
    top: 10%;
    width: 80%;
    display: grid;
    right: 10%;
    border: 2px solid white;
}
h1 > span{
    color: red
}
