body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(9, 152, 57);
    font-family: sans-serif;
}
.title{
    text-align: center;
   margin-bottom: auto;
   border: 2px solid white;
   margin-top: 30px;
   background-color: rgb(26, 47, 105, .9);
   border-radius: 10px;
   color: aliceblue;

}
.container{
    width:80%;
    margin: 50px auto;
    min-height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}
.container > img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}
.right, .left{
    width: 33%
}
.middle button{
    width:80%;
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: rgb(26, 47, 105, .9);
    color: aliceblue;
  
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;

}

.left img, .right img{
 width: 50%;
 margin: 60px auto;
}
.right img{
    width: 61%;
}

.box{
    position: absolute;
    top: 10%;
    width: 80%;
    display: flex;
    right: 10%;
}
h1 > span{
    color: yellow
}
