body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
.title{
    text-align: center;
}
.container{
    width:80%;
    margin: 50px auto;
    border: 3px solid black;
    min-height: 100dvh;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: rgb(23, 23, 108);

}
.container > img{
    display: block;
}
.middle{
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}
.right, .left{
    width: 33%
}
.right{
    border-left: 3px solid white;
}
.left{
    border-right: 3px solid white;
}
.middle button{
    width:80%;
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
  
}
.left img{
 width: 60%;
 margin: 30px auto;
}
.right img{
    width: 73%;
    margin: 30px auto;
}
.title{
    align-self: flex-start ;
}


